.footer_avhec {
	font-size: 0.8em;
	text-align: center;
}

div.clearer {
	clear: both;
	line-height: 1px;
	font-size: 1px;
	height: 1px;
}

/* Metabox in General */
table.avhec-options {
	font-size: 11px;
}

#avhecBoxOptions option{
	padding: .5em;
}
.avhec-wrap span.description {
	font-size: 11px;
}

.avhec-wrap .b {
	font-weight: bold;
}

#avhec-options input {
	font-size: 11px;
}
#avhec-generaloptions input {
	font-size: 11px;
}

/* Metabox Donations*/
#avhecBoxDonations .inside {
	font-size: 12px;
}

#avhecBoxDonations .versions {
	padding: 6px 10px 12px;
}

/* Metabox Donations*/
#avhecBoxTranslation .inside {
	font-size: 12px;
}

/* Metabox in post and page */
#side-sortables #avhec-groupcat select {
	width:100%;
}

#avhec-catlist {
	-moz-border-radius:4px 4px 4px 4px;
	background-color:#FFFFFF;
	border:1px solid #DFDFDF;
	height:20em;
	margin-bottom:-1.8em;
	overflow:auto;
	width:95%;
}

#avhec-catlist ul {
	padding: 3px;
}

#avhec-catlist li ul {
	padding: 0px;
}

#avhec-catlist li {
margin-bottom: 0px;
}