.footer_avhec {
	font-size: 0.8em;
	text-align: center;
}

div.clearer {
	clear: both;
	line-height: 1px;
	font-size: 1px;
	height: 1px;
}
.avhec-wrap span.description {
	font-size: 11px;
}
#avhec-generaloptions input {
	font-size: 11px;
}

table.avhec-options {
	font-size: 11px;
}
.avhfec-wrap .b {
	font-weight: bold;
}

#avhecBoxDonations .b {
	font-weight: bold;
}
#avhecBoxDonations .inside {
	font-size: 12px;
}

#avhecBoxDonations .versions {
	padding: 6px 10px 12px;
}

#avhecBoxTranslation .inside {
	font-size: 12px;
}